<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>{{ username }}</h1>
        {% for repo in repos %}
            <h2><a href="{{ repo.url }}">{{ repo.name }}</a></h2>
            <h3>{{ repo.description }}</h3>
            <h3><a href="{{ repo.homepage }}">{{ repo.homepage }}</a></h3>
            <ul>
                <li>Language: {{ repo.language }}</li>
                <li>Created: {{ repo.created }}</li>
                <li>Last Pushed: {{ repo.lastPushed }}</li>
                <li>Is a Fork?: {{ repo.isFork }}</li>
                <li>Contributors: {{ repo.numContributors }}</li>
                <li>Watchers: {{ repo.numWatchers }}</li>
                <li>Stargazers: {{ repo.numStargazers }}</li>
                <li>Forks: {{ repo.numForks }}</li>
                <li>Total Issues: {{ repo.numTotalIssues }}</li>
                <li>Open Issues: {{ repo.numOpenIssues }}</li>
                <li>Tags: {{ repo.numTags }}</li>
                <li>Contributed Commits: {{ repo.numContributedCommits }}</li>
            </ul>
        {% endfor %}
    </body>
</html>

